
RewriteEngine on
RewriteCond %{HTTP_HOST} ^pontrendarulmuttaqin\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.pontrendarulmuttaqin\.com$
RewriteRule ^/?$ "https\:\/\/home\.pontrendarulmuttaqin\.com\/" [R=301,L]

